@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    font-family: "Roboto Mono", monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#nav{
    display:flex;
    align-items:center;
    justify-content: center;
}




